### Cevap 1

In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')
import string

In [2]:
string.ascii_lowercase

'abcdefghijklmnopqrstuvwxyz'

In [3]:
#İndeks ve harfleri oluşturma

string.ascii_lowercase
harf = list(string.ascii_lowercase[:10])


tablom = pd.DataFrame(index=harf)
tablom.index.name = 'Harfler'


# Asal Sayıları oluşturma ve tabloya ekleme
def asal(sayi):
    dizi=[]
    x=2
    while len(dizi)<sayi:
        sayac=0
        if x<3:
            dizi.append(x)
        else:
            for y in range(2,x-1):
                if (x%y)==0:
                    sayac+=1
            if sayac==0:
                dizi.append(x)
        x+=1
    return dizi
tablom['asal']=asal(10)
# Fibonacci sayısı üreten bir fonksiyon tanımlar.
fibo=[]
for x in range(10):
    if x<2:
        fibo.append(x)
        
    else:
        fibo.append(fibo[x-2]+fibo[x-1])

tablom['fibonacci'] = fibo
tablom

         asal  fibonacci
Harfler
a           2          0
b           3          1
c           5          1
d           7          2
e          11          3
f          13          5
g          17          8
h          19         13
i          23         21
j          29         34

### Cevap 2

In [4]:
train=pd.read_csv('../train.csv')
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [5]:
train.groupby(by='Sex')['Age'].mean()

Sex
female    27.915709
male      30.726645
Name: Age, dtype: float64

### Cevap 3

In [6]:
#30 yaşından küçük olanların sayısı
len(train[train.Age<30])

384

In [7]:
#30 yaşından küçük kurtulanların sayısı
len(train[(train.Age<30) & (train.Survived==1)])

156

In [8]:
#30 yaşından küçük tüm yolcuların kurtulma oranı (survival ratio)
len(train[(train.Age<30) & (train.Survived==1)])/len(train[train.Age<30])

0.40625

In [9]:
# Erkeklerin kurtulma oranı
len(train[(train.Sex=='male') & (train.Survived==1)])/len(train[(train.Sex=='male')])

0.18890814558058924

In [10]:
# Kadınların kurtulma oranı
len(train[(train.Sex=='female') & (train.Survived==1)])/len(train[(train.Sex=='female')])

0.7420382165605095