#### SORU 1

SELECT COUNT(*) as Miktar,

CASE

    WHEN Miktar>20 THEN 'büyük'

    WHEN Miktar>10 THEN 'orta'

    ELSE 'küçük' 

END AS Sınıf

FROM(SELECT country AS Ulke, COUNT(*) Miktar

FROM customers

GROUP BY country

ORDER BY Miktar DESC) class

GROUP BY Sınıf;