In [1]:
import pandas as pd
import numpy as np

In [2]:
train=pd.read_csv('../train.csv')
train

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [3]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [4]:
train.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [5]:
train2=train.copy()
train2.drop(columns=['Cabin','Age'],inplace=True)
train2.dropna()
cols=['Name','Sex','Ticket','Embarked']
train3=pd.concat([train2,pd.get_dummies(train2[cols])],axis=1).drop(cols,axis=1)

In [6]:
X=train3.drop('Survived',axis=1)
y=train.Survived

In [14]:
from sklearn.linear_model import LogisticRegression
log_reg = LogisticRegression(solver='liblinear')

In [15]:
from sklearn.model_selection import train_test_split
X_eÄŸitim, X_test, y_eÄŸitim, y_test =  train_test_split(X, y, test_size=0.20, random_state=111)

In [16]:
log_reg.fit(X_eÄŸitim, y_eÄŸitim)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='liblinear', tol=0.0001, verbose=0,
                   warm_start=False)

In [17]:
egitim_dogruluk = log_reg.score(X_eÄŸitim, y_eÄŸitim)
test_dogruluk = log_reg.score(X_test, y_test)
print('One-vs-rest', '-'*20, 
      'Modelin eÄŸitim verisindeki doÄŸruluÄŸu : {:.2f}'.format(egitim_dogruluk), 
      'Modelin test verisindeki doÄŸruluÄŸu   : {:.2f}'.format(test_dogruluk), sep='\n')

One-vs-rest
--------------------
Modelin eÄŸitim verisindeki doÄŸruluÄŸu : 0.92
Modelin test verisindeki doÄŸruluÄŸu   : 0.81

In [18]:
X.iloc[0]

PassengerId         1.00
Pclass              3.00
SibSp               1.00
Parch               0.00
Fare                7.25
                    ...
Ticket_W/C 14208    0.00
Ticket_WE/P 5735    0.00
Embarked_C          0.00
Embarked_Q          0.00
Embarked_S          1.00
Name: 0, Length: 1582, dtype: float64

In [19]:
tahmin_deÄŸerleri = np.array([X.iloc[888]])
print(log_reg.predict(tahmin_deÄŸerleri))

[1]

In [21]:
C_deÄŸerleri = [0.001,0.01,0.1,1,10,100, 1000]
dogruluk_df = pd.DataFrame(columns = ['C_DeÄŸeri','DoÄŸruluk'])

dogruluk_deÄŸerleri = pd.DataFrame(columns=['C DeÄŸeri', 'EÄŸitim DoÄŸruluÄŸu', 'Test DoÄŸruluÄŸu'])

for c in C_deÄŸerleri:
    
    # Apply logistic regression model to training data
    lr = LogisticRegression(penalty = 'l2', C = c, random_state = 0,solver='liblinear')
    lr.fit(X_eÄŸitim,y_eÄŸitim)
    dogruluk_deÄŸerleri = dogruluk_deÄŸerleri.append({'C DeÄŸeri': c,
                                                    'EÄŸitim DoÄŸruluÄŸu' : lr.score(X_eÄŸitim, y_eÄŸitim),
                                                    'Test DoÄŸruluÄŸu': lr.score(X_test, y_test)
                                                    }, ignore_index=True)
display(dogruluk_deÄŸerleri)

   C DeÄŸeri  EÄŸitim DoÄŸruluÄŸu  Test DoÄŸruluÄŸu
0     0.001          0.679775        0.715084
1     0.010          0.773876        0.821229
2     0.100          0.804775        0.793296
3     1.000          0.924157        0.810056
4    10.000          1.000000        0.821229
5   100.000          1.000000        0.826816
6  1000.000          1.000000        0.821229