In [93]:
import pandas as pd
import numpy as np

In [94]:
train=pd.read_csv('../train.csv')
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [95]:
a = train[train.Age.isnull()].index

In [97]:
train.groupby('Ek').Age.mean()

Ek
Miss    21.773973
Mr      32.409774
Mrs     35.900000
Ms      28.000000
None    19.270172
Name: Age, dtype: float64

In [98]:
def miss_ayir(s):
    if "Miss" in s:
        return "Miss"
    elif "Mrs" in s:
        return "Mrs"
    elif "Mr" in s:
        return "Mr"
    elif "Ms" in s:
        return "Ms"
    elif '' in s:
        return "None"

In [99]:
train.Name.apply(miss_ayir).value_counts()

Mr      518
Miss    182
Mrs     127
None     63
Ms        1
Name: Name, dtype: int64

In [100]:
train["Age"]=train['Age'].fillna(train.groupby('Ek')['Age'].transform('mean'))

In [101]:
train.iloc[a]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Ek
5,6,0,3,"Moran, Mr. James",male,32.409774,0,0,330877,8.4583,NaN,Q,Mr
17,18,1,2,"Williams, Mr. Charles Eugene",male,32.409774,0,0,244373,13.0000,NaN,S,Mr
19,20,1,3,"Masselmani, Mrs. Fatima",female,35.900000,0,0,2649,7.2250,NaN,C,Mrs
26,27,0,3,"Emir, Mr. Farred Chehab",male,32.409774,0,0,2631,7.2250,NaN,C,Mr
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,21.773973,0,0,330959,7.8792,NaN,Q,Miss
...,...,...,...,...,...,...,...,...,...,...,...,...,...
859,860,0,3,"Razi, Mr. Raihed",male,32.409774,0,0,2629,7.2292,NaN,C,Mr
863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,21.773973,8,2,CA. 2343,69.5500,NaN,S,Miss
868,869,0,3,"van Melkebeke, Mr. Philemon",male,32.409774,0,0,345777,9.5000,NaN,S,Mr
878,879,0,3,"Laleff, Mr. Kristo",male,32.409774,0,0,349217,7.8958,NaN,S,Mr
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,21.773973,1,2,W./C. 6607,23.4500,NaN,S,Miss

In [102]:
train.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
Ek               0
dtype: int64

In [103]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Ek
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,Mr
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,Mrs
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,Miss
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,Mrs
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,Mr

In [181]:
train2=train.copy()
train2.drop(columns=['Cabin'],inplace=True)
train2.Embarked=train2.Embarked.fillna('C')
train2.dropna(inplace=True)
cols=['Name','Sex','Ticket','Embarked','Ek']
train3=pd.concat([train2,pd.get_dummies(train2[cols])],axis=1).drop(cols,axis=1)

In [182]:
X=train3.drop('Survived',axis=1)
y=train3.Survived

In [183]:
from sklearn.linear_model import LogisticRegression
log_reg = LogisticRegression(solver='liblinear')

In [184]:
from sklearn.model_selection import train_test_split
X_eğitim, X_test, y_eğitim, y_test =  train_test_split(X, y, test_size=0.2, random_state=111)

In [185]:
log_reg.fit(X_eğitim, y_eğitim)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='liblinear', tol=0.0001, verbose=0,
                   warm_start=False)

In [186]:
egitim_dogruluk = log_reg.score(X_eğitim, y_eğitim)
test_dogruluk = log_reg.score(X_test, y_test)
print('One-vs-rest', '-'*20, 
      'Modelin eğitim verisindeki doğruluğu : {:.2f}'.format(egitim_dogruluk), 
      'Modelin test verisindeki doğruluğu   : {:.2f}'.format(test_dogruluk), sep='\n')

One-vs-rest
--------------------
Modelin eğitim verisindeki doğruluğu : 0.93
Modelin test verisindeki doğruluğu   : 0.82

In [179]:
tahmin_değerleri = np.array([X.iloc[887]])
print(log_reg.predict(tahmin_değerleri))

[1]

In [180]:
C_değerleri = [0.001,0.01,0.1,1,10,100, 1000]
dogruluk_df = pd.DataFrame(columns = ['C_Değeri','Doğruluk'])

dogruluk_değerleri = pd.DataFrame(columns=['C Değeri', 'Eğitim Doğruluğu', 'Test Doğruluğu'])

for c in C_değerleri:
    
    # Apply logistic regression model to training data
    lr = LogisticRegression(penalty = 'l2', C = c, random_state = 0,solver='liblinear')
    lr.fit(X_eğitim,y_eğitim)
    dogruluk_değerleri = dogruluk_değerleri.append({'C Değeri': c,
                                                    'Eğitim Doğruluğu' : lr.score(X_eğitim, y_eğitim),
                                                    'Test Doğruluğu': lr.score(X_test, y_test)
                                                    }, ignore_index=True)
display(dogruluk_değerleri)

   C Değeri  Eğitim Doğruluğu  Test Doğruluğu
0     0.001          0.710674        0.720670
1     0.010          0.789326        0.782123
2     0.100          0.827247        0.782123
3     1.000          0.925562        0.815642
4    10.000          1.000000        0.815642
5   100.000          1.000000        0.815642
6  1000.000          1.000000        0.815642

In [229]:
from sklearn.linear_model import LogisticRegression
log_reg = LogisticRegression(multi_class='multinomial' ,solver='liblinear')

In [230]:
from sklearn.model_selection import train_test_split
X_eğitim, X_test, y_eğitim, y_test =  train_test_split(X, y, test_size=0.2, random_state=111)

In [231]:
log_reg.fit(X_eğitim, y_eğitim)

C:\Users\Goksun\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:947: ConvergenceWarning: lbfgs failed to converge. Increase the number of iterations.
  "of iterations.", ConvergenceWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='multinomial', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)